<div class="container">
  <div class="left">
    <img class="logo" src="/assets/images/logo.png" alt="Logo" />
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/catalog" routerLinkActive="active">Catalog</a>
    <div class="cart">
      <a routerLink="/cart" routerLinkActive="active">Cart</a>
    </div>
  </div>
  <div class="right">
    <a routerLink="signin" routerLinkActive="active" *ngIf="!isUser">Sign In</a>
    <a href="" class="cta" *ngIf="!isUser">Register</a>
    <a *ngIf="isUser" (click)="logOut()">Logout</a>
    <a *ngIf="isUser"
      ><img src="/assets/images/profile.png" alt="isUser.email"
    /></a>
  </div>
</div>
