<div class="container">
  <div class="filters">
    <a
      class="button bold"
      routerLink="/catalog/Heads"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Heads</a
    >
    <a
      class="button"
      routerLink="/catalog/Arms"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Arms</a
    >
    <a
      class="button"
      routerLink="/catalog/Torsos"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Torsos</a
    >
    <a
      class="button"
      routerLink="/catalog/Bases"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Bases</a
    >
    <a
      class="button"
      routerLink="/catalog/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >All</a
    >
  </div>

  <ul class="products">
    <li class="product-item" *ngFor="let product of filterProducts()">
      <app-product
        [product]="product"
        (chosenProduct)="addToCart($event)"
      ></app-product>
    </li>
  </ul>
</div>
