<div class="container">
  <div class="filters">
    <a class="button bold" (click)="filterText = 'Heads'">Heads</a>
    <a class="button" (click)="filterText = 'Arms'">Arms</a>
    <a class="button" (click)="filterText = 'Tortos'">Torsos</a>
    <a class="button" (click)="filterText = 'Bases'">Bases</a>
    <a class="button" (click)="filterText = ''">All</a>
  </div>

  <ul class="products">
    <li class="product-item" *ngFor="let product of filterProducts()">
      <app-product
        [product]="product"
        (chosenProduct)="addToCart($event)"
      ></app-product>
    </li>
  </ul>
</div>

<h1>Updated Cart</h1>
<hr />
<p>Total: {{ cart | json }}</p>
